<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- font-awesome plugin -->
    <script
      src="https://kit.fontawesome.com/27ab7d05ba.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      #erri {
        font-size: large;
        border: 1px solid black;
        border-radius: 25px;
        padding: 10px;
      }

      .row ul {
        list-style: none;
      }
      .row img {
        border-radius: 50%;
      }
    </style>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/home.css" />

    <title>👨‍🎓 Study Today</title>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="Images/logo.png"
              alt=""
              width="30"
              height="30"
              class="d-inline-block align-text-top"
            />
            Studytoday
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active mx-5" aria-current="page" href="#"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link mx-5" href="academics">Academics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-5" href="interviewprep"
                  >Interview preparation</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link mx-5" href="team">Team</a>
              </li>
            </ul>
            <form action="/logout" method="POST" class="d-flex">
              <button class="btn btn-outline-primary ms-5" type="submit">
                Logout
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <section id="events">
      <div class="container">
        <div class="row">
          <h2 class="moving-text1" data-text="Events">Events</h2>
        </div>

        <div class="row">
          <ul id="erri">
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />Road Safety Campaign by CSI
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />Coding contest by Turing-Hut
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />Webinar on Cloud-Computing
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />Webinar on BlockChain Technology
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />IEEE orientation for first years
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="examination-news">
      <div class="container">
        <div class="row">
          <h2 class="moving-text2" data-text="Examination">Examination</h2>
        </div>

        <div class="row">
          <ul id="erri">
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" /> First year Second semester results
              are out
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" /> Last date to apply for
              recounting/reverification - 20/10/2021
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />Last date to condonation - 27/09/2021
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />Time table for III B.Tech II Semester
              Sessional Examination-I - September, 2021 (Special Exams for
              absentees due to Covid-19)<a href="Files/3-2.pdf"> Click me!</a>
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />Time table for II B.Tech II Semester
              Sessional Examination-I - September, 2021 (Special Exams for
              absentees due to Covid-19)<a href="Files/3-2.pdf"> Click me!</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="placement-news">
      <div class="container">
        <div class="row">
          <h2 class="moving-text3" data-text="Placement">Placement</h2>
        </div>

        <div class="row">
          <ul id="erri">
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" /> 53 Students got placed in JPMC
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" /> 17 students got placed in AMAZON
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" /> 20 students got placed in NCR
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" /> 10 students got placed in ServiceNow
            </li>
            <br />
            <li>
              <img src="Images/right-arrow.png" alt="" />
              <img src="Images/new.png" />2021 batch placement summary<a href="Files/placements.pdf"> Click me!</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Study-Today"
  agent-id="fbdfa849-efb8-401b-916f-884c538e02e6"
  language-code="en"
></df-messenger>
    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="login.js"></script> External js file -->
  </body>
</html>
