<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- font-awesome plugin -->
    <script
      src="https://kit.fontawesome.com/27ab7d05ba.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
        #id1{
            border-radius:  15px 50px 30px;
            border: 2px solid #73AD21;
            padding: 20px; 
            margin:30px;
          }
    </style>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/home.css" />

    <title>👨‍🎓 Study Today</title>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="Images/logo.png"
              alt=""
              width="30"
              height="30"
              class="d-inline-block align-text-top"
            />
            Studytoday
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link mx-5" aria-current="page" href="home"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link mx-5" href="academics">Academics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active mx-5" href="#">Interview preparation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-5" href="team">Team</a>
              </li>
            </ul>
            <form action="/logout" method="POST" class="d-flex">   
              <button class="btn btn-outline-primary ms-5" type="submit">
                Logout
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>    
    <hr>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link mx-5"  href="dbms"
                      >DBMS</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active mx-5" aria-current="page" href="os">OS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  mx-5" href="CN">CN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-5" href="oops">OOPS</a>
                  </li>
                </ul>
                </form>
              </div>
            </div>
          </nav>
    </div> 
    <hr>
    <div>
        <div class="onlycontentinner">
            <div id="id1">
                <table>
                <tr><td>
                <h1 class="h1">Operating System MCQ</h1>
                <p class="pq">1) Which of the following is not an operating system?</p>
                <ol class="pointsa">
                <li>Windows</li>
                <li>Linux</li>
                <li>Oracle</li>
                <li>DOS</li>
                </ol>
                <div class="testanswer" id="answer1">
                <p><strong>Answer:</strong> (c) Oracle</p>
                <p><strong>Explanation:</strong> Oracle is an RDBMS (Relational Database Management System). It is known as Oracle Database, Oracle DB, or Oracle Only. The first database for enterprise grid computing is the Oracle database.</p>
                </div>
                <hr />
                <p class="pq">2) What is the maximum length of the filename in DOS?</p>
                <ol class="pointsa">
                <li>4</li>
                <li>5</li>
                <li>8</li>
                <li>12</li>
                </ol>
                <div class="testanswer" id="answer2">
                <p><strong>Answer:</strong> (c) 8</p>
                <p><strong>Explanation:</strong> The maximum length of the filename is 8 characters in the DOS operating system. It is commonly known as an 8.3 filename.</p>
                </div> 
                <hr />
                <p class="pq">3) When was the first operating system developed?</p>
                <ol class="pointsa">
                <li>1948</li>
                <li>1949</li>
                <li>1950</li>
                <li>1951</li>
                </ol>
                <div class="testanswer" id="answer3">
                <p><strong>Answer:</strong> (c) 1950</p>
                <p><strong>Explanation:</strong> The first operating system was developed in the early 1950's. It was also called a single-stream batch processing system because it presented data in groups.</p>
                </div>
                <hr />
                <p class="pq">4) When were MS windows operating systems proposed?</p>
                <ol class="pointsa">
                <li>1994</li>
                <li>1990</li>
                <li>1992</li>
                <li>1985</li>
                </ol>
                <div class="testanswer" id="answer4">
                <p><strong>Answer:</strong> (d) 1985</p>
                <p><strong>Explanation:</strong> The first MS Windows operating system was introduced in early 1985.</p>
                </div>
                <hr />
                <p class="pq">5) Which of the following is the extension of Notepad?</p>
                <ol class="pointsa">
                <li>.txt</li>
                <li>.xls</li>
                <li>.ppt</li>
                <li>.bmp</li>
                </ol>
                <div class="testanswer" id="answer5">
                <p><strong>Answer:</strong> (a) .txt</p>
                <p><strong>Explanation:</strong> The .txt file extension is a standard text document extension that contains the unformatted text. It is the default file extension for the notepad.</p>
                </div>
                <hr />
                <p class="pq">6) What else is a command interpreter called?</p>
                <ol class="pointsa">
                <li>prompt</li>
                <li>kernel</li>
                <li>shell</li>
                <li>command</li>
                </ol>
                <div class="testanswer" id="answer6">
                <p><strong>Answer:</strong> (c) shell</p>
                <p><strong>Explanation:</strong> The command interpreter is also called the shell. </p>
                </div>
                <hr />
                <p class="pq">7) What is the full name of FAT?</p>
                <ol class="pointsa">
                <li>File attribute table</li>
                <li>File allocation table</li>
                <li>Font attribute table</li>
                <li>Format allocation table</li>
                </ol>
                <div class="testanswer" id="answer7">
                <p><strong>Answer:</strong> (b) File allocation table.</p>
                <p><strong>Explanation:</strong> The FAT stands for File allocation table. The FAT is a file system architecture. It is used in computer systems and memory cards. A FAT of the contents of a computer disk indicates which field is used for which file.</p>
                </div>
                <hr />
                <p class="pq">8) BIOS is used?</p>
                <ol class="pointsa">
                <li>By operating system</li>
                <li>By compiler</li>
                <li>By interpreter</li>
                <li>By application software</li>
                </ol>
                <div class="testanswer" id="answer8">
                <p><strong>Answer:</strong> (a) By operating system</p>
                <p><strong>Explanation:</strong> BIOS is used by the operating system. It is used to configure and identify the hardware in a system such as the hard drive, floppy drive, optical drive, CPU, and memory.</p>
                </div>
                <hr />
                <p class="pq">9) What is the mean of the Booting in the operating system?</p>
                <ol class="pointsa">
                <li>Restarting computer</li>
                <li>Install the program</li>
                <li>To scan</li>
                <li>To turn off</li>
                </ol>
                <div class="testanswer" id="answer9">
                <p><strong>Answer:</strong> (a) Restarting computer</p>
                <p><strong>Explanation:</strong> Booting is a process of the restart the computer. After restarting it, there is no software in the computer's main memory.</p>
                </div>
                <hr />
                <p class="pq">10) When does page fault occur?</p>
                <ol class="pointsa">
                <li>The page is present in memory.</li>
                <li>The deadlock occurs.</li>
                <li>The page does not present in memory.</li>
                <li>The buffering occurs.</li>
                </ol>
                <div class="testanswer" id="answer10">
                <p><strong>Answer:</strong> (c) The page does not present in memory.</p>
                <p><strong>Explanation:</strong> Page faults occur when a process tries to access a block page of the memory and that page is not stored in RAM (Read only memory) or memory.</p>
                </div>
                <hr />
                <p class="pq">11) Banker's algorithm is used?</p>
                <ol class="pointsa">
                <li>To prevent deadlock</li>
                <li>To deadlock recovery</li>
                <li>To solve the deadlock</li>
                <li>None of these</li>
                </ol>
                <div class="testanswer" id="answer11">
                <p><strong>Answer:</strong> (a) To prevent deadlock</p>
                <p><strong>Explanation:</strong> Banker's algorithm is used to prevent the deadlock condition. The banker algorithm is sometimes called the detection algorithm. It is named the banker algorithm because it is used to determine whether a loan can be granted in the banking system or not.</p>
                </div>
                <hr />
                <p class="pq">12) When you delete a file in your computer, where does it go?</p>
                <ol class="pointsa">
                <li>Recycle bin</li>
                <li>Hard disk</li>
                <li>Taskbar</li>
                <li>None of these</li>
                </ol>
                <div class="testanswer" id="answer12">
                <p><strong>Answer:</strong> (a) Recycle bin</p>
                <p><strong>Explanation:</strong> When you delete a file on your computer device, it is transferred to your computer system's recycle bin or trash.</p>
                </div>
                <hr />
                <p class="pq">13) Which is the Linux operating system?</p>
                <ol class="pointsa">
                <li>Private operating system</li>
                <li>Windows operating system</li>
                <li>Open-source operating system</li>
                <li>None of these</li>
                </ol>
                <div class="testanswer" id="answer13">
                <p><strong>Answer:</strong> (c) Open-source operating system</p>
                <p><strong>Explanation:</strong> The Linux operating system is an open-source operating system made up of a kernel. It is a very safe operating system.</p>
                </div>
                <hr />
                <p class="pq">14) What is the full name of the DSM?</p>
                <ol class="pointsa">
                <li>Direct system module</li>
                <li>Direct system memory</li>
                <li>Demoralized system memory</li>
                <li>Distributed shared memory</li>
                </ol>
                <div class="testanswer" id="answer14">
                <p><strong>Answer:</strong> (d) Distributed shared memory</p>
                <p><strong>Explanation:</strong> The DSM stands for Distributed Shared Memory. </p>
                </div>
                <hr />
                <p class="pq">15) What is the full name of the IDL?</p>
                <ol class="pointsa">
                <li>Interface definition language</li>
                <li>Interface direct language</li>
                <li>Interface data library</li>
                <li>None of these</li>
                </ol>
                <div class="testanswer" id="answer15">
                <p><strong>Answer:</strong> (a) Interface definition language</p>
                <p><strong>Explanation:</strong> The IDL stands for Interface Definition Language. It is used to establish communications between clients and servers in RPC (Remote Procedure Call).</p>
                </div>
                <hr />
        </div>
    </div>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Study-Today"
  agent-id="fbdfa849-efb8-401b-916f-884c538e02e6"
  language-code="en"
></df-messenger>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="login.js"></script> External js file -->
  </body>
</html>
