body {
  background: mintcream;
}

section {
  margin-top: 80px;
}

.moving-text1, .moving-text2, .moving-text3 {
  position: relative;
  text-align: center;
  font-size: 80px;
  letter-spacing: 5px;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

.moving-text1::before{
  content: attr(data-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: orangered;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid orangered;
  overflow: hidden;
  animation: animate1 6s linear infinite;
}

@keyframes animate1 {
  0%, 10%, 100% {
    width: 0;
  }
  90%, 70%{
    width: 23.2%;
  }
}

.moving-text2::before{
  content: attr(data-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: blue;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid blue;
  overflow: hidden;
  animation: animate2 6s linear infinite;
}

@keyframes animate2 {
  0%, 10%, 100% {
    width: 0;
  }
  90%, 70%{
    width: 44.5%;
  }
}

.moving-text3::before{
  content: attr(data-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate3 6s linear infinite;
}

@keyframes animate3 {
  0%, 10%, 100% {
    width: 0;
  }
  90%, 70%{
    width: 37.5%;
  }
}





.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.nav-item {
  font-weight: bolder;
}

/* academics css */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: lightblue;
  color: black;
}

.flip-card-back {
  background-color: navy;
  color: white;
  transform: rotateY(180deg);
}
.but{
  border-radius: 50%;
  padding: 10px;
  margin: 2px;
}

a {
  text-decoration: none;
}